@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
    font-family: "Noto Serif", serif;
	font-size: 16px;
	font-size: 1.0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
	margin: 30px 0 15px;
	margin: 2.0rem 0 0.750rem;
}

.logo {
    font-family: "Open Sans", sans-serif;
}

.authorbox__name {
    font-family: "Open Sans", sans-serif;
}